singularity {
	enabled = true
	autoMounts = true
}

docker {
	enabled = false
}


params {

	// Directories

	mudata = null
	mae_object = null
	rna_df_path = null
	r_config = null
	references = null
	temp_file = null
	output = null
	container_dir = null
	
   
}


/*
Define the Singularity container file paths relative to the given container_dir parameter
*/
rstudio_mae = "file:///" + "${params.container_dir}" + "r-mae_v0.3.sif"
r_epic = "file:///" + "${params.container_dir}"+ "r-epic.sif"

process {

  
	withName:LINEAR_MODELS  {
		container = "$rstudio_mae"
	}

	
	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 2
		memory = 3.8.GB
	}
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/execution_trace_${trace_timestamp}.txt"
	fields = 'task_id,name,process,status,exit,realtime,%cpu,cpus,container,rss'
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_dag_${trace_timestamp}.html"
}
